version: '3.8'

services:
  maxbot:
    build: .
    container_name: maxbot
    ports:
      - "5000:5000"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs

